.input_field{
    width : 100%;
    height: clamp(2.6em, 5vw, 3.5em);

    display : flex;
    position: relative;

    border: 2px solid rgb(187, 196, 204);


    border-radius: 2px;
    transition: 500ms ease-in;

    color: whitesmoke;
}

/* ICON */
.input_field .icon{
    width: 15%;
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* TITLE */
.input_field .title{    
    position: absolute;
    left: .5em;    
    top : 30%;

    transition : 300ms ease-in-out;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color:#aeb6bf;
}

/* INPUT-TAg*/
.input_field input{
    width: 85%;
    color: #fdfefe;
    z-index: 10;
    
    outline: none;
    border : none;

    padding-left: 10px;
    background: transparent;
}

/* EFECTOS  */
.input_field:hover{
    border: 2px solid lightskyblue;
}
.input_field input:valid ~ .icon,
.input_field input:focus ~ .icon,
.input_field input:hover ~ .icon{
    color: lightskyblue;
}

.input_field input:valid ~ .title,
.input_field input:focus ~ .title,
.input_field input:hover ~ .title{
    top: -25%;
    color: lightskyblue;
    font-weight: 700;
    background: rgba(32, 35, 42, 1);
}