.input_dark{
    width : 99.5%;
    height: clamp(2.5em, 3vw, 4em);

    display : flex;
    position: relative;
    
    border-radius: 3px;
    transition: 500ms ease-in;

    color: whitesmoke;
}

/* ICON */
.input_dark .icon{
    width: 15%;
    color:#cacaca;
    
    background: #20232a;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #20232a;
    font-size: 1.5rem;
    transition: 300ms;
}

/* TITLE */
.input_dark .title{    
    position: absolute;
    left: 1em;    
    top : -25%;

    z-index: 40;
    transition : 100ms ease-in-out;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size  : .9rem;
        
    color:#afabab;
    background: whitesmoke;
    
}
/* Sólo para input-dates */
.input_dark.active .title{
    color:#afabab;
}

/* INPUT-TAg*/
.input_dark input{
    width: 85%;
    color: #20232a;
    z-index: 10;
    
    outline: none;
    border : none;

    padding-left: 10px;
    background: transparent;

    border: 2px solid #cacaca;
    border-right: 0;

    font-size: .9rem;
    transition: 300ms;
}

/* EFECTOS  */
.input_dark input:valid, 
.input_dark input:focus, 
.input_dark input:hover{
   border: 2px solid #20232a;
   border-right: 0;
}

.input_dark input:valid ~ .icon,
.input_dark input:focus ~ .icon,
.input_dark input:hover ~ .icon{
    color: #fad287;    
}

.input_dark input:valid ~ .title,
.input_dark input:focus ~ .title,
.input_dark input:hover ~ .title{
    top  : -20%;
    color: #20232a;
    cursor: none;

    font-size  : .8rem;
    font-weight: 800;

    z-index: 20;
    /*background: #ebedef */
    background: whitesmoke;
}


