.login{
    width : 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    /*background: #ebedef;*/
    background: linear-gradient(225deg, rgb(62, 77, 92) 7%, rgba(32, 35, 42, 1) 53%);
}

/* CONTAINERS */
.login_header{
    width : 100%;
    height: 3em;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.login_container{
    width : 100%;
    height: calc(100% - 3em);

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Título - Header */
.login_menu{
    color : rgb(241, 241, 241);
    cursor: pointer;

    padding-right: 2em;

    font-size  : 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition : 360ms;
}
.login_menu:active,
.login_menu:hover{
    color: lightskyblue;
}

.login form{
    width : 90%;
    height: 40%;    

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /*background: #ebedef; 
    box-shadow: 0px 0px 8px -1px rgba(29, 29, 29, 0.75);*/
}

.login .warning{
    color: lightskyblue;    

    font-family: 'Roboto',sans-serif;    
    font-weight: 600;

    display: flex;
    justify-content: center;
}

/* FOR TABLETS */
@media screen and (min-width: 600px) and (max-width: 1100px) {
    .login form{
        width: 70%;
    }
}

/* FOR DESKTOPS */
@media screen and (min-width:1100px){
    .login form{
        width: 35%;
    }
}

