.module_registrar{
    width : 100%;
    height: 100%;

    position: relative;
    overflow: auto;

    display: flex;    
    justify-content: center;    
}


/* CONTENEDOR 1 */
.form_registrar{
    width : 90%;
    height: 95%;
    margin: auto 0 auto 0;  

    background:whitesmoke;
    box-shadow: 0px 1px 5px 0px rgba(185, 185, 185, 0.75);
    font-family: 'Roboto', sans-serif;

    
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    overflow: auto;
}


.form_registrar .select{
    width: 99%;
}
.form_selects .select.almacen{
    margin-left: .5em;
}

.form_selects{
    display: flex;    
}
.txtArea_subtitle,
.select_subtitle{
    font-size: .8rem;
    font-weight: 600;
}



.btn_qrCode{
    width: 100%;
    background: tomato;
}


/* QRCODE */
.module_registrar .qr-modal{
    width : 95%;
    height: 96%;

    position: absolute;
    margin-top: .9em;
    z-index: 20;
    
    transform: translateX(-250%);
}
.module_registrar .qr-modal.active{
    transform: translateX(0%);
}

.module_registrar .qr-modal{
    width : 40%;
    height: 96%;
    margin: .5em 0 auto 0;

    transition: 600ms ease-in-out;
    background:whitesmoke;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.qr-modal .marco{
    width : auto;
    height: auto;
    border: 4px solid rgb(170, 24, 61);

    display: flex;
    align-items: center;
    transition: 1.2s;
}
.qr-modal .marco.active{
    border: 4px solid rgb(17, 120, 189);
}
.qr-modal .btn-modal{
    margin-top: 3em;
    width: 40%;
}


/* FOR MOBILES */
@media screen and (max-width:600px) {
    /* CONTENDOR 1 */
    .form_registrar{
        width : 95%;
        height: 95%;
        padding: 0em 1em;
    }
    .form_registrar .input:first-child{
        margin-top: 1em;
    }
    .form_registrar .form_selects{
        flex-direction: column;
    }
    .form_selects .select.almacen{
        margin: 0;
    }
}

@media screen and (min-width: 600px) and (max-width:1100px){
    .form_registrar{
        width: 90%;
        padding: 0 2em;
    }
    .form_registrar .input:first-child{
        margin-top: 1.5em;
    }
    .form_registrar .btn_qrCode{
        margin-bottom: 1.5em;
    }
}

@media screen and (min-width: 1100px) {
    .form_registrar{
        width: 35%;
        padding: 0 2em;
    }
    .form_registrar .input:first-child{
        margin-top: 1.5em;
    }
    .form_registrar .btn_qrCode{
        margin-bottom: 1.5em;
    }
}
