@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.module-reparacion{
    width : calc(100vw - 5em);
    height: 100%;

    display : flex; 
    overflow: auto;   

    position: relative;
    background: darkgoldenrod;
}

/* 
    CONTENEDOR 1 
*/
.module-reparacion .containerRep1{
    width : 15em;
    height: 100%;
    
    font-family: 'Nunito', sans-serif;
    background: whitesmoke;
}

.containerRep1 h1{
    color: #555e66;
    margin: .5em 0 .5em .5em;
    font-size: clamp(1rem, 2vw, 1.4rem);    
    font-family: 'Roboto', sans-serif;
}

.containerRep1 a{
    width: 100%;
    text-decoration: none;
}

/* OPCIONES DEL CONTENEDOR - LINK */
.containerRep1 .link-option{
    width : 90%;
    height: 2em;
    margin: .5em 0 .5em 1em;
    color :lightslategray;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: 500;
    transition: 300ms ease-in-out;
}

.link-option .text{
    width: 100%;
    margin-left: .5em;
    text-align: left;
}
/* ICONS */
.containerRep1 .icon1,
.containerRep1 .icon2{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerRep1 .icon1 svg,
.containerRep1 .icon2 svg{
    padding: 0 0 0 .2em;
    font-size: clamp(1rem, 2vw,1.5rem);
}


/* ANIMACIONES  */
.containerRep1 .link-option:hover{
    color:  #34495e;
    transform: translateX(1em);
}
.containerRep1 .link-option:active{
    color:  #2b88e4;
    transform: translateX(1em);
    transition: 100ms;
}

/* 
    CONTENEDOR 2 
*/
.module-reparacion .containerRep2{    
    width: calc(100% - 15em);
    height: 100%;    
    display: flex;
    justify-content: center;
    background: lightsalmon;
}

/* COTENEDOR - FORMULARIO - reporte */
.module-reparacion .box-reporte{
    background: lightblue;
    width : 50%;
    height: 90%;

    margin: auto;
}

/* TARJETA - HILO */
.module-reparacion .containerRep2 .card-hilo{
    width : 50%;
    height: 60%;
    margin: auto;    
}

/* COTENEDOR - TABLE */
.module-reparacion .seguimiento{
    width: 100%;
    display: flex;
    flex-direction: column;

    background: cornflowerblue;
}
/* CONTENEDOR - Input*/
.seguimiento .inpt-buscar{
    width: 45%;
    margin: 2em 0 1em 0;
}
.module-reparacion .table-seguimiento{
    width: 100%;
    overflow: auto;
}

/* FOR MOBILES */
@media screen and (max-width: 600px) {
    .module-reparacion{
        flex-direction: column;
    }
    /* 
        CONTENEDOR 1 
    */
    .module-reparacion .containerRep1{
        width: 10%;
        height: auto;
    }
    /* Menú de opciones */
    .module-reparacion .containerRep1{
        width : 10%;
        height: auto;

        display: flex;

        background: transparent;
        position: absolute;
        bottom: 0;
        left: 26%;
    }
    .module-reparacion .containerRep1 .text, .icon2{
        visibility: hidden;
    }
    .module-reparacion h1{
        position: absolute;
        visibility: hidden;
    }
    /* Opciones - link */
    .containerRep1 .link-option{        
        color: lightgreen;
        background: transparent;
    }

    /* 
        CONTENEDOR 2
    */
    .module-reparacion .containerRep2{
        width: 100%;
    }
    /* Formulario */
    .module-reparacion .containerRep2 .box-reporte{
        width: 98%;
        margin-top: .6em;
    }
    /* Tarjeta hilo */
    .module-reparacion .containerRep2 .card-hilo{
        width : 100%;
        height: 100%;
    }
    /* Tabla - seguimiento*/
    .module-reparacion .seguimiento .inpt-buscar{
        width: 95%;
        margin: 1.5em 0 1em 0; 
    }
    .module-reparacion .seguimiento .table-seguimiento{
        height: 80%;
        background: lightpink;
    }
}

@media screen and (min-width:600px) and (max-width:1000px) {
    /* Formulario */
    .module-reparacion .containerRep2 .box-reporte{
        width: 98%;
    }
}