@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.module-reparacion{
    width : calc(100vw - 5em);
    height: 100%;
    overflow: auto;   
    position: relative;

    font-family: 'Roboto', sans-serif;

}

/* CONTAINER 1 */
.nav_container{
    width : 100%;
    height: 2em;
    
    background: rgba(14, 16, 28, 0.87);
    box-shadow: 0px 1px 5px 0px rgba(105, 105, 105, 0.65);

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    color : whitesmoke;
    overflow: auto;
}
/* Título navbar */
.nav_container a{
    color : whitesmoke;
    margin: 0 1em;
    font-weight: 600;

    transition: 200ms;
}

.nav_container a:hover{
    color: lightblue;
}

.nav_container a:active{
    color: rgb(207, 173, 230);
}
.nav_container .avisoNav,
.nav_container .hiloNav{
    margin: 0 1em;
    cursor: pointer;
}
/* Ocultar título aviso, hilo*/
.hiloNav,
.avisoNav{
    visibility: hidden;
    position: absolute;
    color: tomato;
}

/* CONTAINER 2 */
.content{
    height: calc(100% - 2em);
    overflow: auto;    
}

.form_container{
    width : 50%;
    height: 50em;

    margin : .5em auto;
    padding: 1em;
    background: whitesmoke;
    box-shadow: 0px 1px 5px 0px rgba(185, 185, 185, 0.45);
}

/* BOTONES -AVISO-HILO */
.btn-aviso, .btn-hilo{
    width : 2em;
    height: 2em;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    position : absolute;
    font-size: 2rem;    
   
    border-radius: 50%;
    background: #20232a;
    box-shadow: 0px 1px 5px 0px rgba(154, 154, 156, 0.75);

    transition: 100ms ease-in-out;
}

.btn-hilo{
    top: 4em;
    right: 2%;
    color: rgb(170, 221, 253);
}
.btn-aviso{
    top: 1.5em;
    right: 2%;
    color: rgb(236, 236, 140);
}
.btn-hilo:hover{
    width: 2.1em;
    height: 2.1em;
    box-shadow: 0px 1px 5px 2px lightskyblue;
}
.btn-aviso:hover{
    width: 2.1em;
    height: 2.1em;
    box-shadow: 0px 1px 5px 2px lightgoldenrodyellow;
}

/* SEGUIMIENTO */
.table_hilo,
.inpt_hilo{
    width: 90%;
    margin: 0 auto 0 auto;
}

.table_hilo{
    height: 85%;
    overflow: auto;
    background: crimson;
}


/* 
    FOR MOBILES 
*/
@media screen and (max-width: 600px) {
    .form_container{
        width: 80%;
        height: 100%;
    }

    /* OCULTAR Botones */
    .btn-aviso,
    .btn-hilo{
        visibility: hidden;
    }
    /* Mostrar títulos  - nav */
    .hiloNav,
    .avisoNav{
        position: relative;
        visibility: visible;
        font-weight: 600;
    }
    /* Primer y último elemento en el Navbar */
    .nav_container a:first-child{
        padding-left: 2.5em;
    }
    .hiloNav{
        padding-right: 1em;
    }
    
}
/*
    FOR TABLETS
*/
@media screen and (min-width:600px) and (max-width:1100px) {
    
    .form_container{
        width : 75%;
        height: 95%;
    }
    /* OCULTAR Botones */
    .btn-aviso,
    .btn-hilo{
        visibility: hidden;
    }
    /* Mostrar títulos  - nav */
    .hiloNav,
    .avisoNav{
        position: relative;
        visibility: visible;
        font-weight: 600;
    }
}

@media screen and (min-width:700px) and (max-width: 800px) and (min-height: 1000px){
    .content{
        display: flex;
        align-items: center;
    }
    .form_container{
        height: 70%;
        
    }
}

/* BOTÓN - AVISO */
/*
.box-reporte .aviso,.hilo{
    width : 2em;
    height: 2em;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    position : absolute;
    font-size: 2rem;    
   
    border-radius: 50%;
    background: #20232a;
    box-shadow: 0px 1px 5px 0px rgba(154, 154, 156, 0.75);

    transition: 100ms ease-in-out;
}

.hilo{
    top: 12%;
    right: 2%;
    color: rgb(170, 221, 253);
}
.aviso{
    top: 0;
    right: 2%;
    color: rgb(236, 236, 140);
}
.hilo:hover{
    width: 2.1em;
    height: 2.1em;
    box-shadow: 0px 1px 5px 2px lightskyblue;
}
.aviso:hover{
    width: 2.1em;
    height: 2.1em;
    box-shadow: 0px 1px 5px 2px lightgoldenrodyellow;
}

.hiloNav,
.avisoNav{
    visibility: hidden;
    color: tomato;
}
*/

