@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.module-reparacion{
    width : calc(100vw - 5em);
    height: 100%;

    display : flex;    
    position: relative;
}

/* 
    CONTENEDOR 1 
*/
.module-reparacion .container1{
    width : 15em;
    height: 100%;
    
    font-family: 'Nunito', sans-serif;
    background: whitesmoke;
}

.container1 h1{
    color: #555e66;
    margin: .5em 0 .5em .5em;
    font-size: 1.4rem;    
    font-family: 'Roboto', sans-serif;
}

.container1 a{
    width: 100%;
    text-decoration: none;
}

/* OPCIONES DEL CONTENEDOR - LINK */
.container1 .link-option{
    width : 90%;
    height: 2em;
    margin: .5em 0 .5em 1em;
    color :lightslategray;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: 500;
    transition: 300ms ease-in-out;
}

.link-option .text{
    width: 100%;
    margin-left: .5em;
    text-align: left;
}
/* ICONS */
.container1 .icon1,
.container1 .icon2{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container1 .icon1 svg,
.container1 .icon2 svg{
    padding: 0 0 0 .2em;
    font-size: 1.5rem;
}


/* ANIMACIONES  */
.container1 .link-option:hover{
    color:  #34495e;
    transform: translateX(1em);
}
.container1 .link-option:active{
    color:  #2b88e4;
    transform: translateX(1em);
    transition: 100ms;
}

/* 
    CONTENEDOR 2 
*/
.module-reparacion .container2{    
    width: calc(100% - 15em);
    height: 100%;    
    display: flex;

    background: lightsalmon;
}

/* COTENEDOR - FORMULARIO - reporte */
.module-reparacion .box-reporte{
    background: lightblue;
    width : 50%;
    height: 90%;

    margin: auto;
}

/* TARJETA - HILO */
.module-reparacion .container2 .card-hilo{
    width : 50%;
    height: 60%;
    margin: auto;    
}

/* COTENEDOR - TABLE */
.module-reparacion .table{
    width: 95%;
}