.module-ubicacion{
    /*width : calc(100vw - 5em);*/
    width : 100%;
    height: 100%;

    justify-content: center;
    position: relative;

    font-family: 'Roboto', sans-serif;
}

/* INPUT */
.container_search .input{
    width: 90%;  
    margin: 1.5em auto 0 auto;      
}
/* CHECKBOX */
.checkbox label{
    padding-left: .5em;
}

/* SELECT */
.container_search .selects{
    width: 90%;
    margin: 0 auto 1em auto;
}

/* TABLE */
.container_table{
    height: 70%;
    overflow: auto;
}
.container_table .datatable{
    width : 90%;
    height: 100%;
    
    margin: 0 auto 0 auto;    
    overflow: auto;
}



/* FOR MOBILES */
@media screen and (max-width: 600px) {
    .container_search{
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;        
    }
    /* CHECKBOX */
    .container_search .checkbox{
        margin: 1em 0 .5em 0;        
        display: flex;
        justify-content: center;
    }

    .checkbox .marco{
        width: 90%;
        display: flex;
        align-items: center;
    }


    /* SELECT */
    .container_search .selects{
        width: 90%;
        margin: 0 auto 1em auto;
    }
    .container_search .selects .marco{        
        display: flex;
        justify-content: space-around;        
    }
    .marco .select{
        width: 100%;
    }
    .marco .select:not(:first-child):not(:last-child){
        margin: 0 .2em 0 .2em;
    }

    /* TABLE */
    .container_table{
        height: 70%;
    }

    .container_table .datatable{
        overflow: auto;
    }
}

/* FOR TABLETS */

@media screen and (min-width: 600px) {
    
    /* SELECTS */
    .container_search .selects .marco{        
        display: flex;
        justify-content: space-around;        
    }
    .marco .select{
        width: 100%;
    }
    .marco .select:not(:first-child):not(:last-child){
        margin: 0 .2em 0 .2em;
    }
    /* CHECKBOX */
    .container_search .checkbox{
        margin: 1em 0 .5em 0;        
        display: flex;
        justify-content: center;
    }

    .checkbox .marco{
        width: 90%;
        display: flex;
        align-items: center;
    }
}

/* FOR DESKTOPS */

@media screen and (min-height: 900px) {
    .container_table{
        height: 80%;
    }
}

