.module-usuarios{
    width : calc(100vw - 5em);
    height: 100%;

    overflow: auto;
    position: relative; 
}
/* CONTENEDOR 1 */
.module-usuarios .container_1{
    background: whitesmoke;
    box-shadow: 0px 1px 5px 0px rgba(211, 211, 211, 0.75);
}

.container_1 .rectangle{
    height: 4em;
    background: lightslategrey;
}
a{
    text-decoration: none;
}
/* CONTENEDOR 2 */
.container_2 .table{
    overflow: auto;
}



/* FOR DESKTOPS */
@media screen and (min-width: 1100px) {
    .module-usuarios{
        display: flex;
    }
    /* CONTENEDOR 1 */
    .container_1{
        width : 20%;
        height: 100%;
        
        background: lightsalmon;
        z-index: 1;
    }
    /* CONTAINER 2 */
    .container_2{
        width: 80%;
            
        right: 0;
        overflow: auto;
    }
    .container_2 .form{
        width: 50%;
        height: 75%;

        margin: auto;
        background: lightskyblue;
    }
    .donut{
        width: 70%;
    }
}