.module-usuarios{
    width : calc(100vw - 5em);
    height: 100%;

    overflow: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

/*  
    CONTENEDOR 1
*/
.container1-usuarios{
    width : 95%;
    height: 25%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: lightgreen;
}

.container1-usuarios .rectangle{
    width : 25%;
    height: 7em;

    background: lightgoldenrodyellow;
}

/* 
    CONTENEDOR 2 
*/
.container2-usuarios{
    width : 95%;
    height: 75%;

    display: flex;
    justify-content: space-between;
    background: lightpink;
}
/* GRÁFICA - Dona */
.container2-usuarios .dona{
    width : 47%;
    background: lightseagreen;
}

/* DONA - INFO */
.container2-usuarios .info{
    width: 47%;
    background: lightcoral;
}





/* FOR MOBILES */
@media screen and (max-width: 800px) {
    /* CONTENEDOR 1 */
    .container1-usuarios{
        height: 40%;
        flex-direction: column;
        justify-content: space-around;
    }
    .container1-usuarios .rectangle{
        width : 99%;
        height: 5em;
        border: 1px solid lightsalmon;
        background: crimson;
    }
    /* CONTENEDOR 2 */
    .container2-usuarios{        
        height: 60%;
        flex-direction: column;
    }
    /* CONTENEDOR 2 - DONA */
    .container2-usuarios .dona{
        width: 100%;
        height: 100%;
    }
}

@media screen and (orientation: landscape) and (max-height: 450px) {
    .module-usuarios{
        flex-direction: row;
    }
    /* CONTENEDOR 1*/
    .container1-usuarios{
        width : 40%;
        height: 100%;
        justify-content: space-around;
        flex-direction: column;
    }
    .container1-usuarios .rectangle{
        width : 100%;
        height:  4em;
        border: 1px solid lightsalmon;
        background: crimson;
    }
    /* CONTENEDOR 2 */
    .container2-usuarios{
        height: 100%;
    }
}

/* FOR TABLETS 
@media screen and (min-width:600px) and (max-width: 1100px) {
    .container1-usuarios .rectangle{
        width: 32%;        
        height: 4.5em;
    }
    
}
*/

/* FOR DESKTOPS */
@media screen and (min-height: 800px) {
    /* CONTENDOR 1 */
    .module-usuarios .container1-usuarios{
        height: 15%;
    }
    /* CONTENDOR 2 */
    .module-usuarios .container2-usuarios{
        height: 85%;
    }
}