.form_rep{
    width : 100%;
    height: 100%;

    display: flex;    
    flex-direction: column;    
    justify-content: space-between;
}


.qr_container{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;

    background: rgba(0, 0, 0, 0.8);
}


/* MODAL TABLA - HILO */
.table-hilo{
    padding: 1em 2em;
    overflow: auto;
}
.inpt_container{
    display: flex;
    align-items: center;
    
    padding: 1em 0 0 2em;
}
.boxBtn{    
    padding-left: 2em;
    
}
/* MODAL FORM - EQUIPOS */
.row_form .selects{
    display: flex;
    font-size: .8rem;
}

.row_form .selects .box-select{
    width: 100%;
}
.row_form .selects .box-select.num2{
    margin-left: .5em;
}


/* MODULO - PRESTAMO*/
#form{
    width : 100%;
    height: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;    
    justify-content: space-around;   

    position: relative;
}

#form h3{
    font-size: .9rem;
    font-family: 'Roboto', sans-serif;
    margin-left: 1rem;
}
#form .input{
    width: 99%;
    align-self: center;
}

/* MODULO - REPARACION */
#form h2{
    font-family: 'Roboto', sans-serif;
}

.subtitle_reporte{
    font-size: 1.1rem;
    font-weight: 600;
}

.inputs_reportes{
    display: flex;
}
.inputs_reportes .input{
    width: 99%;
}
.inputs_reportes .input.equipo{
    margin-left: 1em;
}
.select_reporte{
    display: flex;
}
.select_reporte .select{
    width: 99%;
}
.select_reporte .select.etapa{
    margin-left: 1em;
}


/* MÓDULO USUARIOS - CREAR USUARIO - */
#form .select span{
    padding:0 0 0 1em ;
    font-size: .8rem;
    font-family: 'Roboto', sans-serif;
}

/* CONTENEDOR - SELECTS */
#form .selects{
    display: flex;
}
#form .selects .select{
    width: 95%;    
}
/*
#form .selects .select:not(:first-child):not(:last-child){
    margin: 0 .5em 0 .5em;
}
*/


/* FOR MOBILES */
@media screen and (max-width:450px) {
    #form h3{
        font-size: .8rem;
        margin-left: 40%;
    }
    #form{
        width: 100%;
    }

    #form .selects{
        flex-direction: column;
    }

    #form .select{
        margin: .1em auto .1em auto;
    }

    #form .button{
        width: 90%;
        margin: 0 auto 0 auto;
    }

    /* MÓDULO - REPARACIÓN */
    .form_rep{
        overflow: auto;
    }
    .inputs_reportes{
        flex-direction: column;
    }
    .inputs_reportes .input{
        width: 100%;
    }
    .inputs_reportes .input.equipo{
        margin: 1em 0 0 0;
    }
}

@media screen and (orientation: landscape) and (max-height:610px) {
    #form{
        display: block;
    }
    #form .input, .select{
        margin: 1em 0 .5em 0;
    }
    #form h3{
        margin-left: 40%;
    }
    /* MÓDULO - REPARACIÓN */
    .inputs_reportes{
        flex-direction: column;
    }
    .form_rep .input{
        margin: 1em 0;
    }
    .inputs_reportes .input{
        width: 100%;
    }
    .inputs_reportes .input.equipo{
        margin: 1em 0 0 0;
    }
}