.form_rep{
    width : 100%;
    height: 100%;

    display: flex;    
    flex-direction: column;    
    justify-content: space-between;
}


.qr_container{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;

    background: rgba(0, 0, 0, 0.8);
}


/* MODAL TABLA - HILO */
.table_hilo{
    padding-top: 1em;
}
.inpt_container{
    display: flex;
    align-items: center;
    
    padding-top: 1em;
}
.boxBtn{    
    padding-left: 2em;
    
}