.page{
    width : 100vw;
    height: 100vh;

    position: relative;
    background: whitesmoke;

    display: flex;
    flex-direction: column;
}

.page .container_page{
    
    height: calc(100vh - 4em);
    display: flex;
}

.container_page .option{
    background: lightpink;
    width: 50%;
}