.container-hilo{
    width : 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    background: #20232a;
}


/* TEXTO - HILO */
.container-hilo .boxHilo{    
    height: 70%; /* 30% -> .container-hilo .button*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxHilo span{
    color: lightskyblue;
    font-family: 'Roboto', sans-serif;
}

#title1{    
    font-size: clamp(2.2rem, 2vw,4rem);    
    font-weight: 600;
}
#title2{
    padding: 1em 0 0 0;
    font-size: clamp(1.5rem, 2vw, 2rem);    
    font-weight: 600;
}
#title3{     
    color: lightgreen;
    padding: .5em 0 0 0;
    font-size: 1.5rem;
    font-weight: 600;
}

/* BUTTON */

.container-hilo .button{
    width : 30%;
    height: 30%;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* FOR MOBILES */
@media screen and (max-width: 450px) {
    /* Caja 1 */
    .container-hilo .boxHilo{
        width: 100%;
        height: 55%;    
        
    }
    #title2{
        padding-top: 2em;
    }
    #title3{
        font-size: 2rem;
        padding-top: 3rem;
    }
    /* Caja 2 */
    .container-hilo .button{
        width: 100%;
        height: 45%;
        
        
    }
}