.nav-bar{
    width: 100vw;
    height: 4em;

    display: flex;
    align-items: center;
    
    color: white;
    background:#20232a;    

    position: relative;
    font-family: 'Roboto', sans-serif;
}

/* ICON - NAVBAR */
.nav-bar .icon{
    width: 5em;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: 500ms;
}


.nav-bar .icon:hover{
    color: lightskyblue;
}

/* TITLE - NAVBAR */
.nav-bar .title{    
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 700;
}

/* TITLE-USERNAME */
.user_container{      
    color : #fad287;
    height: 100%;  
    
    font-size  : clamp(1rem, 3vw, 1.3rem);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    text-align: center;
    padding-left: 1em;

    display: flex;
    align-items: center;
}


/* BUTTON */
.nav-bar button{
    color: lightskyblue;
    background: transparent;

    border: 1px solid lightskyblue;
    border-radius: 3px;
    outline-style: none;
    
    padding: .3em 1.5em .3em 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;

    transition: 100ms ease-in;
    position: absolute;
    right: 1.5em;
}

/* ANIMACIONES */
.nav-bar button:active{
    color: #20232a;
    background: rgb(117, 184, 226);
}
.nav-bar button:hover{  
    box-shadow: 0px 0px 8px -1px rgba(128, 191, 216, 0.75);
}




