.side-bar{
    width : 5em;
    height: 100%;

    position: fixed;
    
    z-index: 80;
    background: #091738;    

    transform: translateX(-100%);
    transition: 300ms ease-in-out; 
}
.side-bar.active{
    position: relative;
    transform: translateX(0%);
}

/* BARRA VERTICAL - SIDEBAR*/
.side-bar ul{
    height: 100%;

    display: flex;
    flex-direction: column;    
    justify-content: space-around;
    background: #20232a;

    margin: 0;
}
/* CONTENEDOR - ICONS */
.side-bar ul li{
    width : 100%;
    height: 10%;

    list-style: none;
    position: relative;
    

}
/* TAG -> LINK -> a */
.side-bar ul li a{
    width : 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 400ms ease-in-out;
    background: #20232a;

    text-decoration: none;
}


/* ICON */
.side-bar ul li svg{
    color: whitesmoke;
    font-size: clamp(1.2rem, 2vw, 1.5rem);   
    transition: 200ms ease-in; 
    z-index: 10;
}


/* ANIMACIONES */
.side-bar ul li:hover svg{
    color:#20232a;
}
.side-bar ul li a:hover{
    background: lightskyblue;
}


@media screen and (max-width: 800px) {
    .side-bar.active{
        position: fixed;
    }
}

/* FOR DESKTOPS */
@media screen and (min-height: 800px) {
    .side-bar ul li{
        height: 8%;
    }
}